@font-face {
	font-family: "Ffx";
	src: local('Fairfax HD'),url('/assets/FairfaxHD.ttf');
}
@font-face {
	font-family: "Righteous";
	src: url('/assets/Righteous-Regular.ttf');
}
@font-face {
	font-family: "Atkinson";
	src: local('Atkinson Hyperlegible'),url('http://rikedyp.uk/assets/Atkinson-Hyperlegible-Regular-102.ttf');
}
body{
	background: #1b998b; 
	transition: background 3s ease;
	font-family: Atkinson, Ffx, Courier, Bookman, Helvetica Neue, Helvetica, Arial;
	color: white;
	text-decoration: none;
	overflow-x: hidden;
	height: 100%;
}
a {
	color:white;
}
a:hover {
	font-weight: bold;
}
hr { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #991b29, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #991b29, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #991b29, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #991b29, #f0f0f0); 
}
.h0 {
	font-size: 13vw;
}
h1 {
	font-size: 2.5em;
	text-align: center;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 2em;
}
p {
	font-size: 1.3em;
	margin-left: 1em;
}